  <footer>
    <div class="container">
      <p>&copy; {{ 'now' | date: "%Y" }} Signarama Vaughan. All Rights Reserved.</p>
    </div>
  </footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
